.instructions {
    width: 75rem;
    height: 2%;
    padding: 2rem;

}

.instructions__title {
    font-family: "young-serif", serif;
    color: var(--color-font-ipn);
    font-size: var(--font-title);
    margin-bottom: 1rem;
}

.instructions__list {
    font-family: "outfit", sans-serif;
    font-size: var(--font-text);
    padding-left: 1.5rem;
    color: var(--color-font-text);
}

.instructions__list li {
    margin-bottom: 0.5rem;
}

@media (max-width: 50rem) {
    .instructions {
        width: 100%;
        padding: 1rem;
    }

    .instructions__title {
        font-size: 1.8rem;
    }

    .instructions__list {
        font-size: 1rem;
    }
}